html {
  background-color: #eee;
  font-family: 'Segoe UI';
}

.container {
  margin: 4rem 0;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.resume {
  position: fixed;
  margin-left: 450px;
  background-color: #fff;
  width: 17cm;
  height: 22cm;
  min-width: 17cm;
  min-height: 22cm;
  overflow: hidden;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.resume-spacer {
  width: 17cm;
  height: 22cm;
  min-width: 17cm;
  min-height: 22cm;
}

.top-btns {
  font-size: 0.7rem !important;
}

.forms {
  width: 400px;
  min-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.experience {
  margin-bottom: 5px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
  width: 80%;
}

.experience-info {
  display: flex;
  justify-content: space-between;
}

.experience .description {
  margin-top: 5px;
  font-size: 0.8rem;
}

.experience .position,
.education-info .degree {
  font-style: italic;
  font-size: 0.9rem;
}

.experience:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: none;
}

.experience .bold,
.education .bold {
  font-weight: bold;
}

/* .forms input {
  display: block;
  margin: 10px 0;
  padding: 5px;
  width: 100%;
} */

.resume-header {
  width: 100%;
  height: 3.5cm;
  background-color: #0e374e;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
  justify-content: center;
  /* font-family: 'Franklin Gothic Medium'; */
}

.resume-header .info {
  display: flex;
  gap: 10px;
}

.resume-header .info .info-item {
  display: flex;
  align-items: center;
  gap: 5px;
}

/* .education-info .right-side {
  display: flex;
  flex-direction: column;
} */

.education,
.experiences {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 20px;
  align-items: center;
}

.education h3,
.experiences h3 {
  background-color: #eef1f2;
  width: 80%;
  text-align: center;
}

.education-info {
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.education-info .right-side,
.experiences .right-side {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.experience-form textarea {
  width: 100%;
}
